MONGODB_URI=mongodb://localhost:27017/caja_compensacion_auth
PORT=3000
NODE_ENV=development

# Generar con: node -e "console.log(require('crypto').randomBytes(64).toString('base64'))"
JWT_ACCESS_SECRET=cambia_este_secret_de_access_token_muy_largo
JWT_REFRESH_SECRET=cambia_este_secret_de_refresh_token_diferente

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
